/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1   { 
	line-height: 1.2;
	@include font-size(6);
}

h2, .h2    { 
	line-height: 1.2;
	@include font-size(3);
}

h3, .h3   { 
	line-height: 1.2;
	@include font-size(2.3);
}

h4, .h4   {
	@include font-size(1.2);
	text-transform: uppercase;
}

h5, .h5 { 
	
}

h6, .h6    { 
	
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $heading-color;
	font-family: $font-secondary;
	font-weight: normal;
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

.section--title {
	width: 100%;
	border-bottom: 1px solid $heading-color;
	text-align: center;
	margin-bottom: $space;
	@include font-size(2.3);
}