/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $heading-color;
	font-family: $font-secondary;
	font-weight: normal;

	&.tisa {
		font-family: inherit;
	}

	> a {
		color: $heading-color;
		text-decoration: none;

		&:hover {
			color: $link-hover;
		}
	}
}

h1, .h1   { 
	line-height: 1.2;
	@include font-size(3);

	@include susy-media($bp-med) {
		@include font-size(6);
	}
}

h2, .h2    { 
	line-height: 1.2;
	@include font-size(2);

	@include susy-media($bp-med) {
		@include font-size(3);
	}
}

h3, .h3   { 
	line-height: 1.2;
	@include font-size(1.6);

	@include susy-media($bp-med) {
		@include font-size(2.3);
	}
}

h4, .h4   {
	@include font-size(1);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

h5, .h5 { 
	
}

h6, .h6    { 
	
}

/* Subheadings */
.subheading {
	padding: $pad 0;

	@include susy-media($bp-med) {
		padding: $pad*3 0;
	}

	.category &, .blog & {
		margin-bottom: 5%;
	}

	.container {

		@include susy-media($bp-med) {
			max-width:$max-width;
		}

	}

	.container > * {
		display: inline-block;
		vertical-align: middle;
	}

	h1.w-bslash {
		position:relative;
		float:left;

		@include susy-media($bp-med) {
			@include span(2 of 12);
			margin-right:0;
			margin-top: .18625em;
		}

	}

	div.w-bslash {
		position:relative;
		float:left;
		margin-top: 1.8625em;

		@include susy-media($bp-med) {
			@include span(10 of 12 last);
			padding-left: 100px;
		}

		&::before {
			content:'';
			width: 1px;
			height: 75px;
			background: $heading-color;
			transform: skew(-16deg);
			margin: 0 50px;
			display: none;
			position: absolute;
		    top: -30px;
		    left: 0px;
			@media all and (min-width: $bp-med) {
				display: inline-block;
			}
		}
	}


	.backslash {
		width: 1px;
		height: 75px;
		background: $heading-color;
		transform: skew(-16deg);
		margin: 0 50px;
		display: none;
		@media all and (min-width: $bp-med) {
			display: inline-block;
		}
	}
}

.section--title {
	width: 100%;
	border-bottom: 1px solid $heading-color;
	text-align: center;
	margin-bottom: $space;
	@include font-size(2.3);
}