/* Links */ 
a {
	color: $text-color;
	text-decoration: underline;
	outline: 0;
	
	&:hover, &:focus {
		color: $link-color;
	}
}

%smart-underline {
	color: $gray-dark;
  text-decoration:none;
  background-image: linear-gradient(to top, rgba(0, 178, 169, 0) 15%, $aqua 15%, $aqua 18%, rgba(0, 178, 169, 0) 18%);
  text-shadow: -1px -1px 0 $paper, 1px -1px 0 $paper, -1px 1px 0 $paper, 1px 1px 0 $paper;
  
  &:hover {
    color:$paper;
    transition: background-color 0.25s ease;
    transition: color 0.25s ease;
    background-color:$aqua;
    text-shadow:none;
  }

	.contact-hero & {
		text-shadow: .1em 0 $secondary-bg, -.1em 0 $secondary-bg;
	}

	.sub-footer & {
		text-shadow: $footer-secondary;
	}
}

.text > a, .text > p > a {
	@extend %smart-underline;
}

.copyright a {
	text-decoration: none;
	color: $white;

	&:hover {
		color: $link-color;
	}
}

// @include smart_underline($main-bg, $text-color, $link-color, 82%);