ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.link-list {
	@include span(4 of 4);

	@include susy-media($bp-med) {
		@include span(12);
	}

	li {
		position: relative;
		@include transition( background, 0.3s, ease-in-out );
		overflow: hidden;
		border-bottom: 1px solid $link-color;
		@include span(4 of 4);

		&:nth-child(1) {
			border-top: 1px solid $link-color;
		}

		@include susy-media($bp-med) {
			@include gallery(4);

			&:nth-child(-n+3) {
				border-top: 1px solid $link-color;
			}
		}

		a {
			padding: 10px 32px 10px 1em;
			width: 100%;
			display: block;
			text-decoration: none;
			@include transition( color, 0.3s, ease-in-out );

			&:hover {
				color: $white;
			}
		}

		.link-list--item--no-link {
			padding: 10px 5px 10px 1em;
			width: 100%;
			display: block;
		}

		&.linked a:after, .linked a:after {
			content: '\2192';
			color: $link-color;
			margin-left: 1em;
			  position: absolute;
			  display: block;
			  top: .7em;
			  right: 0;
		}

		&:before {
			content: '\2022';
			color: $link-color;
			position: absolute;
			padding: 8px 0;
		}

		&:hover.linked {
			background: $btn-secondary;

			&:before {
				color: $btn-secondary;
			}
		}
	}

}

	.linked li:hover {
		background: $btn-secondary;
	}

.link-list--corner {
	position: absolute;
	width: 50px;
	height: 76px;
	background: $mustard;
	top: 0;
	right: -60px;
	transform: skew(-16deg);
	@include transition( right, 0.1s, ease-out);

	.link-list li:hover & {
		right: -24px;
	}
}