/* Text-Related Elements */ 
p {
	margin-bottom: $space;
    letter-spacing: .1px;
}

/* Blockquote */
blockquote {
    font: 1.6em/2;
    color: $link-color;
	margin: $space*2 0;
    padding-left: span(1);
    @extend .tisa;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
}

blockquote:before {
    color: $link-color;
    content: open-quote;
    font-style: normal;
    line-height: 0.1em;
    position: absolute;
    font-size: 3em;
    left: 0;
    top: 0.32em;
    

    @include susy-media($bp-med) {
        @include pad(1, 0);
        left: 0.6em;
        font-size: 3.25em;
    }
}
blockquote p:last-of-type:after {
    content: close-quote;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

.alignright {
    float:right;
}

.alignleft {
    float:left;
}
.aligncenter {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
.post-nom {
    font-size: .8em;
    letter-spacing: 1px;
}