/* Text-Related Elements */ 
p {
	margin-bottom: $space;
    letter-spacing: .1px;
}

/* Blockquote */
blockquote {
    font: 1.6em/2;
    color: $link-color;
	margin: $space*2 0;
    padding-left: span(1);
    @extend .tisa;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
}

blockquote:before {
    color: $link-color;
    font-family: $font-secondary;
    content: open-quote;
    font-style: normal;
    line-height: 0.1em;
    position: absolute;
    font-size: 3em;
    left: 0.15em;
    top: 0.5em;

    @include susy-media($bp-med) {
        font-size: 5em;
    }
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}