.contact {

}

	.contact--intro {
		margin-bottom: $space*1.5;

		@include span(full);

		p {
			@include span(4 of 4);
			
			@include susy-media($bp-large) {
				@include span(8);
				margin-bottom: $pad;
			}

			@extend .text-emphasis;
		}

		a {
			clear: left;
		}
	}

	.contact--main {
		margin-bottom: 5rem;
	}


	.contact--main.contact--main.contact--main {
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(7);
		}

		input[type="text"], input[type="email"], textarea {
			width: 100% !important;
			margin-bottom: $space !important;
		}

		input[type="submit"] {
			clear: both;
			@include span(3 of 10);
			font-family: $font-secondary;
			color: $white;
			background: $link-secondary-alt;
			border: none;
			border-radius: 5px;
			text-transform: uppercase;
			@include font-size(1.2);
			font-weight: bold;
			letter-spacing: 0.21em;
			margin-bottom: $space*2;
			-webkit-appearance: none;

			&:hover {
				background: $link-secondary;
			}
		}
	}

	.gform_wrapper {
		margin: 0 !important;
		max-width: 100% !important;
		margin-bottom: $space*2 !important;
	}

	.gform_wrapper .top_label .gfield_label {
		margin: 0 !important;
		font-weight: normal !important;
	}

	.gform_wrapper .gform_footer {
		padding: 0 !important;
		margin: 0 !important;
		line-height: 0 !important;
		height: 0 !important;
	}

	.contact--careers {
		@include span(4 of 4);
		margin-bottom: $space*2;
		
		@include susy-media($bp-large) {
			@include span(4 last);
		}

		p a {
			@extend %smart-underline;
		}
	}

		.contact--careers--header {
			border-bottom: 1px solid $heading-color;
			margin-bottom: $space;
		}