.family--single {

	.family--portrait {
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			margin-bottom: $space*3;
			@include span(6 last);
		}

		img {
			width: 100%;
		}
	}

	.family--content {
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(6);
		}
	}

		.family--header {
			margin-bottom: $space*2;
			text-align:right;

			.h3 {
				border-bottom: 1px solid $heading-color;
				margin-bottom: $space;
				text-align:left;
			}
			h4 {
				text-align:left;
			}

			a {
				display: inline;
			}
		}

	.family--info {
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(6 last);
			@include pad(1, 1);
		}

		h4 {
			border-bottom: 1px solid $heading-color;
		}

		ul {
			list-style: none;
			margin-bottom: 1.25em;
			margin-left: 0;
			margin-top: .75em;

			li {
				padding: 0em 0 0.25em 1em;
				position: relative;

				&:before {
					content: '\2022';
					color: $text-color;
					position: absolute;
					padding: 0;
					left: 0;
				}

				a {
					@extend %smart-underline;
				}
			}
		}
	}
}

.family--single--list {
	position: relative;
	padding-bottom: $pad*6;

	.gallery-cell {
		width: 100%;
		height: auto;
		position: relative;

		@include susy-media($bp-med) {
			width: span(3 of 12);
			height: auto;
			margin-right: $space;
		}
	
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}

	.family--card {
	}

	.family--meta {
	}
}