.family-header {
	padding: $pad*2 0;

	> * {
		display: inline-block;
		vertical-align: middle;
	}

	.backslash {
		width: 1px;
		height: 75px;
		background: $heading-color;
		transform: skew(-16deg);
		margin: 0 50px;
	}
}

.family--single {

	.family--portrait {
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(6 last);
		}
	}

	.family--content {
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(6);
		}
	}

		.family--header {
			margin-bottom: $space*2;

			.h3 {
				border-bottom: 1px solid $heading-color;
				margin-bottom: $space;
			}

			span, a {
				display: block;
			}
		}

	.family--info {
		clear: both;
		margin-bottom: $space;
		@include span(4 of 4);

		@include susy-media($bp-large) {
			@include span(5 last);
		}

		h4 {
			border-bottom: 1px solid $heading-color;
		}

		ul {
			margin-bottom: $space;
		}
	}
}