.card {
	@include span(4 of 4);
	margin-bottom: $space*1.75;

	&.small {

		font-size:1.2em;
		line-height:1.6;
		@include susy-media($bp-med) {
			@include span(6 of 12);
			@include pad(1, 0);
			margin-bottom:5em;

			&+.small {
				@include last();
			}
		}
	}

	&.large {
		font-size:1.2em;
		line-height:1.6;
		@include susy-media($bp-med) {
			@include span(12 of 12);
		}
	}
}

.page-template-approach .card.small {
	font-size:1em;
}

	.card--img {
		width: 100%;
		margin-bottom: $space;

		img {
			width: 100%;
		}

		@include susy-media($bp-med) {
			.large & {
				width: span(6 of 12);
				// margin-right: gutter();
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.card--info {
		@include susy-media($bp-med) {
			.large & {
				width: span(6 of 12);
				margin-right: 0;
				display: inline-block;
				vertical-align: middle;
			}

		}
	}

		.card--title {
			border-bottom: 1px solid $heading-color;
			margin-bottom: $space;
			@include susy-media($bp-med) {
				.large & {
					text-transform: none;
					@include font-size(2);
					font-weight: normal;
  					letter-spacing: .1px;
  					  line-height: 1.1;

					&.punchline {
						border: none;
						color: $link-color;
						@include font-size(3.25);
					}
				}
			}
		}