.family--thumb {
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: gutter();

	@include gallery(4 of 4);

	@include susy-media($bp-med) {
		@include gallery(4 of 12);
	}

	@include susy-media($bp-large) {
		@include gallery(3 of 12);
	}

	&:hover {
		box-shadow: 0 5px 5px -5px #000;
	}

	img {
		width: 100%;
		float: left;
	}
}

	.family--card {
		position: absolute;
		background: $link-color;
		top: 120%;
		bottom: -120%;
		left: 0;
		right: 0;
		transform: skewY(-16deg);
		left: 0;
		opacity: 0.95;
		@include transition( top, 0.2s, ease-out);


		.family--thumb:hover & {
			top: 60%;
		}
	}

	.family--meta {
		position: absolute;
		color: $white;
		top: 67%;
		text-align: right;
		width: 100%;
		opacity: 0;
		@include transition( opacity, 0s, ease-out);
		transition-delay: 0s;

		.family--thumb:hover & {
			opacity: 1;
			@include transition( opacity, 0.25s, ease-in-out);
			transition-delay: 0.2s;
		}
	}

		.family--name, .family--desc {
			padding: 0 25px;
		}

		.family--name {
			display: block;
			font-family: $font-secondary;
			@include font-size(1.4);
			border-bottom: 1px solid $link-secondary-alt;
		}

		.family--desc {
			font-style: italic;
		}