.family--thumb {
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: $space;
	box-shadow: 0 6px 5px -3px rgba(0,0,0,0.25);
	@include transition( box-shadow, 0.2s, ease-out );

	&:hover {
		box-shadow: 0 6px 5px -3px rgba(0,0,0,0.5);
	}

	img {
		width: 100%;
		float: left;
	}

	.family--archive & {
		@include span(full);

		@include susy-media($bp-med) {
			@include gallery(4 of 12);
		}

		@include susy-media($bp-large) {
			@include gallery(3 of 12);
		}
	}
}

	.family--card {
		position: absolute;
		background: $link-color;
		top: 120%;
		bottom: -120%;
		left: 0;
		right: 0;
		transform: skewY(-16deg);
		left: 0;
		opacity: 0.95;
		@include transition( top, 0.3s, ease-out);


		.family--thumb:hover & {
			top: 60%;
		}
	}

	.family--meta {
		position: absolute;
		color: $white;
		top: 67%;
		text-align: right;
		width: 100%;
		opacity: 0;
		@include transition( opacity, 0s, ease-out);
		transition-delay: 0s;

		.family--thumb:hover & {
			opacity: 1;
			@include transition( opacity, 0.25s, ease-in-out);
			transition-delay: 0.2s;
		}
	}

		.family--name, .family--desc {
			padding: 0 15px;
		}

		.family--name {
			display: block;
			font-family: $font-secondary;
			@include font-size(1.4);
			border-bottom: 1px solid $secondary-bg;
		}

		.family--desc {
			font-style: italic;
		}

.family, .memberships {
	padding-top: $space*3;
}

	.family--the-content {
		> * {
			@include susy-media($bp-med) {
				@include pad(2, 0);
			}
		}
		p:first-of-type {
			@extend .text-emphasis;
			@include pad(0);
		}
	}
.memberships.secondary-section {
	background:white;
	padding-left:5rem;
	padding-right:5rem;
	@media all and (min-width: $bp-med) {
		padding-left:0;
		padding-right:0;
	}
	h3 {
		border-bottom: 1px solid $graygreen;
  		margin-bottom: 2em;
	}
}