/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $footer;
	line-height: 1.2;
	padding-top: $pad*4;
	color: $white;
}

	.footer--logo {
		@include span(4 of 4);

		@include susy-media($bp-med) {
			@include span(6 of 12);
		}

		@include susy-media($bp-large) {
			@include span(2 of 12);
		}
	}

	.footer--contact-info {
		@include span(4 of 4);

		@include susy-media($bp-med) {
			@include span(6 of 12);
		}

		@include susy-media($bp-large) {
			@include span(3 of 12);
		}
	}

	.footer--links {
		a {
			color: $white;
		}

		@include span(4 of 4);

		@include susy-media($bp-med) {
			@include span(12 of 12);
		}

		@include susy-media($bp-large) {
			@include span(7 of 12 last);
		}
	}

		.footer--link-list.link-list {
			margin-bottom: $space*2;

			li {
				border-color: $link-secondary;

				&:before {
					content: '';
				}

				&:hover {
					background: $link-secondary;
				}

				.link-list--corner {
					background: $link-secondary-alt;
				}

				@include span(full);

				@include susy-media($bp-med) {
					@include gallery(6 of 12);

					&:nth-child(-n+2) {
						border-top: 1px solid $link-secondary;
					}

					&:nth-child(3) {
						border-top: none;
					}
				}
			}

			a {
				font-family: $font-secondary;
				text-transform: uppercase;
				font-weight: bold;
  				letter-spacing: 2px;
			}

		}

	.sub-footer {
		background: $footer-secondary;
		margin-top: $space*2;
		padding: $pad*2 0;
	}

		.copyright {
			display: inline-block;
			vertical-align: middle;

			@include susy-media($bp-large) {
				width: 75%;
			}
		}

		.social-list {
			display: inline-block;
			vertical-align: middle;
		}