.hero {
	width: 100%;
	box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
	margin-bottom: $space*2;
	position: relative;
	height: 560px;
	padding-top: 97px;

	@include susy-media($bp-med) {
		max-height: 532px;
		@include aspect-ratio(16, 7);
		overflow: hidden;
	}

	.container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: $hero;
		padding: $pad*2;
		padding-top: 97px;
		height: 560px;


		@include susy-media($bp-med) {
			background: transparent;
			top: 61%;
			height: 400px;
			transform: translateY(-50%);
		}
	}
}

	.hero--img {
		width: 100%;
		background-size: cover;
		overflow: hidden;

		@include susy-media($bp-med) {
			width: 69%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.hero--card {
		background: $hero;
		width: 100%;

		@include susy-media($bp-med) {
			position: absolute;
			top: 0;
			bottom: 0;
			right: -50%;
			transform: skew(45deg);
		}
	}

	.hero--overlay {
		background-color: $hero-trans;
	
		@include susy-media($bp-med) {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}



	.hero--img-text {

		text-align: center;
		padding:1em 0;
		border-bottom:1px solid $mustard;

		@include span(4 of 4);
		margin-bottom: $space*2;

		.h3 {
			@include font-size(2);
		}

		@include susy-media($bp-med) {
			@include span(6 of 12);
			margin-bottom: 0;
			text-align: left;
			padding:0;
			border-bottom:none;

			.h3 {
				@include font-size(3.25);
				letter-spacing: -.01em;
				line-height:3.75rem;

				&.tisa {
					line-height:5rem;
				}
			}
		}

		span {
			color: $white;
		}
	}

	.hero--cta {
		text-align: center;
		p {
			color: $white;
			font-family: $font-secondary;
			@include font-size(1.75);
			line-height:2rem;
			@media all and (min-width: $bp-med) {
				padding-left: 4rem;
				padding-top: 1.25rem;
			}
		}

		@include span(4 of 4);

		@include susy-media($bp-med) {
			@include span(6 of 12 last);
			text-align: right;

			button {
				float: right;
			}
		}
	}

.contact-hero {
	height: 380px;
	padding-top: 97px;

	@include susy-media($bp-med) {
		max-height: 600px;
		@include aspect-ratio(16, 6);
		height: 600px;
	}

	.container {
		background: $secondary-bg;
		padding-top: 97px;
		height: 380px;
		position: absolute;

		@include susy-media($bp-med) {
			background: transparent;
			height: auto;
			padding-top: 0;
		}
	}

	.hero--img {
		display: none;

		@include susy-media($bp-med) {
			display: block;
		}
	}

	.hero--overlay {
		background-color: $contact-hero;

	}
	.hero--card {
		background-color: $secondary-bg;
		position: relative;

		@include susy-media($bp-med) {
			position: absolute;
			top: 0;
			bottom: 0;
			right: -47%;
			transform: skew(-15deg);
		}
	}

	.hero--cta {
		span, a {
			color: $text-color;
			display: block;
		}

		.contact--email {
			@extend %smart-underline;
			display: inline-block;

			&:hover {
				color: $link-color;
			}
		}

		.h3 {
			color: $heading-color;
			@include font-size(1.6);

			@include susy-media($bp-med) {
				@include font-size(2.3);
			}
		}

		.social-list {
			float: left;
			margin-top: $space*2;

			a {
				color: $secondary-bg;

				&:first-child {
					margin-left: 0;
				}
			}

			@include susy-media($bp-med) {
				float: right;

				a:first-child {
					margin-left: 20px;
				}
			}
		}
	}
}