/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: $main-bg;
	color: $text-color;
}

main {
	overflow: hidden;
	@extend .cf;
	padding-top: 135px;

	@include susy-media($bp-med) {
		padding-top: 185px;
	}

	&.has-hero {
		padding-top: 0;
	}

	&.has-subheading {
		padding-top: 82px;
		
		@include susy-media($bp-med) {
			padding-top: 97px;
		}
	}

	.page-template-default & .container, .single-service & .services--single.container {
		@include susy-media($bp-med) {
			@include pad(1, 1);
		}
	}

}