/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: $main-bg;
	color: $text-color;
}

[role=main] {
	padding: $pad*4 0;
	overflow: hidden;
	@extend .cf;
}