/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	margin-top: 1em;

	a {
		display: block;
		text-decoration: none;
		padding: $pad/4 $pad/2;
		font-family: $font-secondary;
		font-size: 1.5em;
		margin-right: 10px;
		color: $heading-color;
		border-bottom: 1px solid transparent;

		&:hover, &:focus {
			border-bottom: 1px solid $text-color;
			color: $text-color;
		}

	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}
		
	}
}

	.current-menu-item a {
		border-bottom: 1px solid $secondary-bg;
	}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}